<ion-header>
  <ion-toolbar color="primary">
    <button ion-button menuToggle left>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Contacts</ion-title>
    <ion-buttons end>
      <button ion-button>
            <ion-icon name="search"></ion-icon>
        </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="root">
    <div class="contacts" *ngIf="contacts.length === 0">
      No contacts found.
    </div>
    <ion-list no-lines>
      <ion-item *ngFor="let contact of contacts" class="margin-top-minus-5">
        <ion-row>
          <ion-col *ngIf="contact.photoAsDataUrl" width-20 center class="margin-top-5">
            <img class="img-round" width="55px" height="55px" [src]="contact.photoAsDataUrl" />
          </ion-col>
          <ion-col center>
            <div>
              {{ contact.FirstName }}
              <p style="font-size: 11px; margin: 5px 5px">{{ contact.Phone.Number }}</p>
            </div>
          </ion-col>
          <ion-col center>
            <div>
              <button ion-button small outline class="button button-positive button-width-100" (click)="openActionSheet(contact)" [disabled]="!contact.IsOnline">
                  <span *ngIf="contact.IsOnline">share &nbsp;&nbsp;&nbsp;&nbsp;</span>
                  <span *ngIf="!contact.IsOnline">offline</span>
                  <ion-icon name="expand" *ngIf="contact.IsOnline"></ion-icon>
              </button>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="top-80">
            <hr width="75%" />
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
