<ion-header>
  <ion-toolbar color="primary">
    <button ion-button menuToggle left>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Contacts</ion-title>
    <ion-buttons end>
      <button ion-button>
            <ion-icon name="search"></ion-icon>
        </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="root">
    <div class="contacts" *ngIf="contacts.length === 0">
      No contacts found.
    </div>
    <ion-grid>
      <ion-row *ngFor="let contact of contacts" class="margin-top-5">
        <ion-col *ngIf="contact.photoAsDataUrl" width-20 center>
          <img class="img-round" width="55px" height="55px" [src]="contact.photoAsDataUrl" />
        </ion-col>
        <ion-col>
          <div>
            <p>{{ contact.FirstName }}</p>
            <p style="font-size: 10px; margin-top: -14px" *ngIf="!contact.IsOnline">(<span color="danger">offline</span>)</p>
            <p style="font-size: 10px; margin-top: -14px" *ngIf="contact.IsOnline">(<span color="secondary">online</span>)</p>
            <p style="font-size: 11px; margin-top: -5px">{{ contact.Phone.Number }}</p>
          </div>
        </ion-col>
        <ion-col center>
          <div>
            <!--[disabled]="!contact.IsOnline"-->
            <button ion-button small outline class="button button-positive button-width-100" (click)="openActionSheet(contact)">
                  <span>share &nbsp;&nbsp;&nbsp;&nbsp;</span>
                  <ion-icon name="expand"></ion-icon>
              </button>
          </div>
        </ion-col>
        <hr class="hr-col" />
      </ion-row>
    </ion-grid>
    <ion-fab right bottom>
      <button ion-fab color="favorite" (click)="openShareActions()"><span>Share link</span></button>
      <!--<ion-fab-list side="top">
        <button ion-fab (click)="shareLinkByMail()"><span style="font-size: 11px">email</span></button>
        <button ion-fab (click)="shareLinkBySms()"><span style="font-size: 11px">SMS</span></button>
      </ion-fab-list>-->
    </ion-fab>
  </div>
</ion-content>
