<ion-content>
  <div class="root" *ngIf="isResponseWaiting">
    <div class="contacts">
      <p>
        Waiting for response ...
      </p>
      <p>
        <ion-spinner name="ios"></ion-spinner>
      </p>
    </div>
  </div>

  <div #mapHost google-map>
    <div google-map-host>
      <button *ngIf="isMapDragged" (click)="moveToTarget($event)" ion-button icon-only class="zoom-button">
        <span style="color:black"><ion-icon name="md-locate"></ion-icon></span>
      </button>
      <br />
      <button (click)="zoomIn($event)" ion-button class="zoom-button">
       <span style="color:black"> + </span>
      </button>
      <br />
      <button (click)="zoomOut($event)" ion-button class="zoom-button">
        <span style="color:black">-</span>
      </button>
    </div>
  </div>

</ion-content>

<!--<ion-footer>
  <ion-toolbar color="primary">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-footer>-->
