<ion-menu [content]="navHost">
  <ion-header>
    <ion-toolbar color="primary" class="bar bar-header bar-stable">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button (click)="onReconnect()" ion-item>
        <ion-icon name="md-refresh">&nbsp;&nbsp;&nbsp; Reconnect</ion-icon>
      </button>
      <button (click)="onMenuClose()" ion-item>
        <ion-icon name="md-close-circle">&nbsp;&nbsp;&nbsp; Close Menu</ion-icon>
        </button>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-nav #navHost></ion-nav>
<div center-div *ngIf="!hasInternet">
</div>
